.row {
    padding: 0 5%;
}

.row:after {
    display: table;
    clear: both;
}

.redditListWrap{
    float: left;
    width: 20%;
    // padding-left: 20px;
    box-sizing: border-box;
    .redditList { 
        border: 1px solid #cbcfd3;
        background-color: white;
        border-radius: 4px;
        .reddit {
            margin: 0 0 5px 20px;
            &--selected {
                font-weight: bold;
            }
        }
        .redditHeaderWrapper {
            display: flex;
            align-items: center;
            height: 80px;
            .redditListHeader {
                margin: 0 0 0 20px; 
            }
        }
        
    }
}

.postList {
    float: left;
    width: 80%;
    box-sizing: border-box;
    padding-right: 20px;
    .postCard {
        padding: 0 0 0 20px;
        margin-bottom: 20px;
        border: 1px solid #cbcfd3;
        background-color: white;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .cardVote {
            width: 80px;
            // flex: 0 0 10%;
            margin-top: 0;
        }
        .cardContent {
            flex: 0 0 80%
        }

        h4 {
            display: inline-block;
            padding-right: 5px;
        }

        img {
            height: auto;
        }
    
    }
    
}


