.row {
    padding: 0 50px;
    @media (max-width: 576px) {
        padding: 0 20px;
    }

}

.row:after {
    display: table;
    clear: both;
}

.redditListWrap{
    float: left;
    width: 20%;
    box-sizing: border-box;
    .redditList { 
        border: 1px solid #cbcfd3;
        background-color: white;
        border-radius: 4px;
        .reddit {
            margin: 0 0 5px 20px;
            &--selected {
                font-weight: bold;
            }
        }
        .reddit:hover {
            cursor: pointer;
            text-decoration: underline;
        }
        .redditHeaderWrapper {
            display: flex;
            align-items: center;
            height: 80px;
            .redditListHeader {
                margin: 0 0 0 20px; 
            }
        }
        
    }
    @media (max-width: 576px) {
        display: none;
    }
}


.postList {
    float: left;
    width: 80%;
    box-sizing: border-box;
    padding-right: 20px;
    .postCard {
        padding: 0 0 0 20px;
        margin-bottom: 20px;
        border: 1px solid #cbcfd3;
        background-color: white;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .cardVote {
            flex: 0 0 15%
        }
        .cardContent {
            flex: 0 0 80%;
            padding: 0 0 10px 5px;
        }

        h4 {
            display: inline-block;
            padding-right: 5px;
        }

        img {
            height: auto;
        }
    
    }
    @media (max-width: 576px) {
        width: 100%;
        padding-right: 0;
    }
    
}

.redditDropdown {
    display: none;
    color: black;
    padding: 16px 0 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;

    @media (max-width: 576px) {
        display: block;
    }
}